@import '../../../config-scss/rem-clc.scss';

$padding: rem-calc(20);

:host{
.listagem {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .pokemon {
        position: relative;
        display: flex;
        width: calc(49% - 2.5rem);
        height: rem-calc(157 - 40);
        background: var(--branco);
        border-radius: rem-calc(10);
        padding: $padding;
        margin-top: rem-calc(5);
        text-decoration: none;
        cursor: pointer;
        color:var(--primary-color);


        &__status {
            h2 {
                font-size: rem-calc(22);
                font-style: italic;

                font-weight: 700;
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    background: var(--cinza);
                    font-size: rem-calc(20);
                    font-weight: 100;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: rem-calc(30);
                    margin-bottom: rem-calc(1);
                    width: rem-calc(80);

                }
            }
        }

        &__image {
            position: absolute;
            height: rem-calc(90);
            width: rem-calc(110);
            display: flex;
            align-items: center;
            justify-content: left;
            right: rem-calc(20);
            bottom: rem-calc(20);
            padding: $padding;
            //background: url('../../../assets/Fundo.jpg') no-repeat;
            
            img {
                width: rem-calc(70);
            }


        }
    }
}

}